@model RepZio.Ofa.Classes.BusinessLibrary.Classes.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"> Billing Address</div>
            <div class="panel-body">
                <div>
                    <span class="label-blue" style="font-size:14px !important;">  @Model.BillingAddress.FullName </span>
                </div>
                <div>
                    @Model.BillingAddress.Address
                </div>
                <div>
                    @Model.BillingAddress.Address2
                </div>
                <div>
                    @Model.BillingAddress.City, @Model.BillingAddress.State @Model.BillingAddress.Zip
                </div>
                <div>
                    @Model.BillingAddress.Country
                </div>
                <div>
                    T: @Model.BillingAddress.Phone
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"> Order Totals</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label"> Product Total: @Model.ProductTotal.ToString("C")</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @{Html.RenderPartial("_ListOfItems", Model.OrderItems);}
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
